.loading {
  color: red;
  font-size: 3vw;
  font-weight: 800;
  margin-top: 15vw;
  margin-left: 45vw;
}

.artistscontainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  width: 100vw;
  height: 10vw;
  border-bottom: 0.3vw #e97ba5 solid;
  background-color: #e43f7e;
  margin-top: -0.3vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mic {
  width: 3vw;
  height: auto;
  margin-top: -3vw;
  margin-left: 4vw;
  padding-left: 6vw;
  padding-right: 2vw;
}

.settings {
  width: 3vw;
  height: auto;
  margin-top: -3vw;
  margin-right: 2vw;
}

.pagetitle {
  color: rgb(233, 210, 210);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 4vw;
  margin-left: 18vw;
  margin-top: -1.5vw;
  width: 60vw;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
}

.artistimage {
  width: 35vw;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  margin-top: 7vw;
}

.artistinfo {
  width: 30vw;
  height: 30vw;
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 15vw;
}

.artistname {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-align: right;
  font-size: 5vw;
  margin-top: 2vw;
  margin-left: 3vw;
}

.statsnumber,
.stats {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 4vw;
}

.stats {
  margin-top: -5vw;
  margin-left: 8vw;
}

.statsnumber {
  margin-top: -5vw;
  text-align: left;
  margin-left: 3vw;
}

.artistsquare {
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.artistsquare:nth-child(1),
.artistsquare:nth-child(4),
.artistsquare:nth-child(5) {
  background-color: #e43f7e;
  border-bottom: 0.3vw #e97ba5 solid;
}

.artistsquare:nth-child(2),
.artistsquare:nth-child(3),
.artistsquare:nth-child(6) {
  background-color: #ec4c8a;
  border-bottom: 0.3vw #e97ba5 solid;
}

.search {
  width: 30vw;
  height: 3vw;
  margin-left: 35vw;
  border-radius: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vw;
  color: white;
  padding-left: 1vw;
  padding-bottom: 0.5vw;
  border: none;
  margin-top: 2vw;
  margin-bottom: 2vw;
  background-color: #f57caa;
}

input::placeholder {
  color: rgb(233, 210, 210);
}
