.home {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  h2 {
    color: rgb(216, 203, 203);
    font-size: 4vw;
    font-weight: 400;
    text-align: left;
    margin-top: 10vw;
  }
  
  .home-description {
    color: rgb(241, 175, 52);
    font-size: 2vw;
    font-weight: 400;
    text-align: left;
    margin-top: 2vw;
  }
  