nav .active {
  text-decoration: underline;
  color: rgb(233, 210, 210);
}

li {
  list-style-type: none;
  color: rgb(233, 210, 210);
}

li a {
  text-decoration: none;
  color: rgb(233, 210, 210);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
}

nav {
  display: flex;
  gap: 1rem;
}

.artists {
  border-right: 0.5vw rgb(233, 210, 210) solid;
  padding-right: 1vw;
  color: rgb(233, 210, 210);
}

.collection {
  color: rgb(233, 210, 210);
}
